<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class06_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Class 6 as in class 9/14/2023

In [2]:
a = ['abc', 'def', 'zzy', 'W' 'B', 'a']
print(type(a), a)

for i in reversed(a):
    print(i)
print(a)

<class 'list'> ['abc', 'def', 'zzy', 'WB', 'a']
a
WB
zzy
def
abc
['abc', 'def', 'zzy', 'WB', 'a']

In [3]:
a.sort()
#a.reverse()
print(a)

['WB', 'a', 'abc', 'def', 'zzy']

In [4]:
b = [name.lower() for name in a]
print(b)

['wb', 'a', 'abc', 'def', 'zzy']

In [5]:
b.sort()
print(b)

['a', 'abc', 'def', 'wb', 'zzy']

In [6]:
# ch 5 All About the if statement
# The pattern:
# 1 "if condition:""
# 0 or more "elif condition:""
# 0 or 1 "else:"

cars = ['BMW', 'ford', 'toyota', 'chevy']
print(cars)

['BMW', 'ford', 'toyota', 'chevy']

In [7]:
for car in cars:
    print(car)
    if car >= 'BMW': print("It's a BEEMER or better!")
    elif car == 'ford':
        print("It's a FORD!")
        print("And I LOVE Fords!")
    elif car == 'chevy': print("It's a CHEVY!")
    else: print('Not anything I know!!?? :(')

print('Always!')

BMW
It's a BEEMER or better!
ford
It's a BEEMER or better!
toyota
It's a BEEMER or better!
chevy
It's a BEEMER or better!
Always!

In [8]:
a = 5
print(a < 3)
print(a <= 3)
print(a > 3)
print(a >= 3)
print(a != 3)
print(a == 3)

False
False
True
True
True
False

In [9]:
a = 7

print(a > 3 and a < 12)
print(3 < a < 12)

True
True

In [10]:
qq = [1, 2, 3,] + [3, 'abc', 4]
print(qq)

[1, 2, 3, 3, 'abc', 4]

In [11]:
qq = [1, 2, 3,] + [3, 'abc', 4] +[1, 2, 3, [13,'fred']]
print(len(qq))
print(qq)

10
[1, 2, 3, 3, 'abc', 4, 1, 2, 3, [13, 'fred']]

In [12]:
print(qq[-1])

[13, 'fred']

In [13]:
# Truth Table Demo

#f1 = p and (q or r)

print('p\tq\tr\tf1')

for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            f1 = p and (q or r)
            print(f'{p}\t{q}\t{r}\t{f1}')

p	q	r	f1
True	True	True	True
True	True	False	True
True	False	True	True
True	False	False	False
False	True	True	False
False	True	False	False
False	False	True	False
False	False	False	False