<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class05_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Class04 as in class!

In [6]:
# Just a few off the top of my head!
# Statements (Asking for something to happen)
a = 3
b = 6
def func(a):
    pass
class classname:
    pass
'''
if while for
'''

# Expressions (returns a value)
a + 5
a == 5
a and True

# Keywords (mean something special in a statement or an expression)
'''
= def for if else elif and or not is class import while pass True False break continue try except finally
'''
pass

In [7]:
x = input('Enter the number')

print(type(x))
try:
    x_int = int(x)
except:
    print(f'{x} is not an integer!')
    x_int = 0

print(type(x_int))
print(x_int)

Enter the numberfred
<class 'str'>
fred is not an integer!
<class 'int'>
0

In [8]:
b = 6

print(b == 7)
print(b < 7)

False
True

In [9]:
# Regarding Booleans
abc = True
print(type(abc))

#print(True == 1)
#print(False == 0)

b = [1, 2, 3]
if b==3: #-4: #0: #False:
    print('444')
elif b==5:
    print('555')
else:
    print('???')

<class 'bool'>
???

In [10]:
# I need a random number
# How??

import random

#print(type(random))
#dir(random)
#help('random')

#random.seed(42)
y = random.randint(1,100)
print(y)
y = random.randint(1,100)
print(y)

45
64

In [11]:
# List comprehensions
rands1 =[]
for i in range(20):
    #print(i, end = ' ')
    rands1.append(random.randint(1,100))

print(rands1)

[72, 10, 84, 88, 68, 56, 23, 8, 6, 48, 97, 5, 31, 12, 50, 97, 3, 86, 88, 60]

In [12]:
rands2 = [x for x in range(10)]
print(rands2)

rands3 = [random.randint(1,100) for x in range(10)]
print(rands3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[11, 52, 56, 76, 91, 27, 44, 66, 41, 91]

In [13]:
ned123 = [[x, x*2, x**2] for x in range(10000)]
print(ned123[12])

[12, 24, 144]

In [14]:
# Slicing
print(ned123[0])
print(ned123[7:11])
print(ned123[21:50:3])

print(ned123[-20:-10:2])

print(ned123[-5:])
print(ned123[:7])

[0, 0, 0]
[[7, 14, 49], [8, 16, 64], [9, 18, 81], [10, 20, 100]]
[[21, 42, 441], [24, 48, 576], [27, 54, 729], [30, 60, 900], [33, 66, 1089], [36, 72, 1296], [39, 78, 1521], [42, 84, 1764], [45, 90, 2025], [48, 96, 2304]]
[[9980, 19960, 99600400], [9982, 19964, 99640324], [9984, 19968, 99680256], [9986, 19972, 99720196], [9988, 19976, 99760144]]
[[9995, 19990, 99900025], [9996, 19992, 99920016], [9997, 19994, 99940009], [9998, 19996, 99960004], [9999, 19998, 99980001]]
[[0, 0, 0], [1, 2, 1], [2, 4, 4], [3, 6, 9], [4, 8, 16], [5, 10, 25], [6, 12, 36]]

In [15]:
# Copying Confusing!
a = [4, 5, 6, 8]
b = a[:]

print(a)
print(b)

a[2] = 999
print(a)
print(b)

[4, 5, 6, 8]
[4, 5, 6, 8]
[4, 5, 999, 8]
[4, 5, 6, 8]