<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class01_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# data
a = 3

In [8]:
print(a)

3

In [9]:
def f(x):
    return 3 * x + 4

print(f(13))

43

In [10]:
a = 4
print(type(a), a)

<class 'int'> 4

In [11]:
b = 1.2
print(type(b), b)

<class 'float'> 1.2

In [12]:
a = a + 0.1
a = 4
print(type(a), a)

<class 'float'> 4.1

In [19]:
name = "ned lecky"
print(type(name), name)

print(name)

<class 'str'> ned lecky
ned lecky

In [22]:
list1 = [12, 13, 14]
print(type(list1), list1)

<class 'list'> [12, 13, 14]

In [23]:
set1 = {12, 21, 34, 12, 12, 34, 8}
print(set1)

{8, 34, 12, 21}

In [24]:
dict = {'ned':61, 'fred':80, 'nancy': 83}

In [25]:
print(dict['fred'])

80

In [29]:
# Code

def f1(x, y, z):
    a = x + y
    b = x + z
    print(a,b)


f1(4,5,6)

9 10

In [ ]:
# Object