<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class25_Map%2CFilter%2CReduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# What is called mapping in other languages
x = [x * x for x in range(40)]

print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521]

In [ ]:
def myfunc(x):
    return (x + 13) * 5

# Adding filter
x = [myfunc(x) for x in range(200) if x % 12 == 0]
print(x)

[65, 125, 185, 245, 305, 365, 425, 485, 545, 605, 665, 725, 785, 845, 905, 965, 1025]

In [ ]:
# As a generator
x_gen = (myfunc(x) for x in range(200) if x % 13 == 0)
print(x_gen)

<generator object <genexpr> at 0x7934aa562f10>

In [ ]:
for x in x_gen:
    print(x)

65
130
195
260
325
390
455
520
585
650
715
780
845
910
975
1040

In [ ]:
# Why nothing now?
for x in x_gen:
    print(x)

In [ ]:
# Reduce

a = [13, 27, 8, 9, 18, 200]

print(sum(a))

275

In [ ]:
from functools import reduce
print(reduce(lambda x, y: x + y, a))

275

In [ ]:
a_map = map(lambda x: x * x, a)
print(a_map)
for x in a_map:
    print(x)

<map object at 0x7934aa542f20>
169
729
64
81
324
40000

In [ ]:
a_filter = filter(lambda x: x < 40, a)
print(a_filter)
for x in a_filter:
    print(x)

<filter object at 0x7934aa5436d0>
13
27
8
9
18

In [ ]:
# exec for an easier calculator!!

while True:
    command = input("What would you like me to do? (Type 'quit' to quit)")
    if command == 'quit':
        break

    to_exec = f'print({command})'

    try:
        exec(to_exec)
    except:
        print('That failed.')

What would you like me to do? (Type 'quit' to quit)13-8
5
What would you like me to do? (Type 'quit' to quit)[x*x for x in range(100)]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
What would you like me to do? (Type 'quit' to quit)quit