<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class13_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Class 13 As done in class 10/12/2023

In [ ]:
%%file data1.txt
Name,Age,Town, Other
ned,61,Plattsburgh,Likes coding
fred,84,Plattsburgh,Lives on Cumberland head
amy,46,Peru
kevin, 21, Beekmantown

Overwriting data1.txt

In [ ]:
%%file data2.txt
Name,Age,Town, Other
ned,61,Plattsburgh,Likes coding
fred,84,Plattsburgh,Lives on Cumberland head
abc
amy,46,Peru

kevin, 21, Beekmantown

Writing data2.txt

In [ ]:
file = open('data1.txt', 'r')

line = file.readline()
while len(line)>0:
    print(f"got a line {line}")
    line = file.readline()

got a line Name,Age,Town, Other

got a line ned,61,Plattsburgh,Likes coding

got a line fred,84,Plattsburgh,Lives on Cumberland head

got a line amy,46,Peru

got a line kevin, 21, Beekmantown

In [ ]:
# More "elegant"
file = open('data1.txt', 'r')

while line := file.readline():
    print(f"got a line {line}")

got a line Name,Age,Town, Other

got a line ned,61,Plattsburgh,Likes coding

got a line fred,84,Plattsburgh,Lives on Cumberland head

got a line amy,46,Peru

got a line kevin, 21, Beekmantown

In [ ]:
# More "elegant"
file = open('data1.txt', 'r')

while line := file.readline():
    line = line.strip()
    fields = line.split(',')
    print(fields)

['Name', 'Age', 'Town', ' Other']
['ned', '61', 'Plattsburgh', 'Likes coding']
['fred', '84', 'Plattsburgh', 'Lives on Cumberland head']
['amy', '46', 'Peru']
['kevin', ' 21', ' Beekmantown']

In [ ]:
# More "elegant"
file = open('data1.txt', 'r')

people = {}
line_number = 0
while line := file.readline():
    line_number += 1
    if line_number == 1:
        continue
    line = line.strip()
    fields = line.split(',')
    print(f'{line_number}: {fields}')
    people[fields[0]] = fields[1:]

print(people)

2: ['ned', '61', 'Plattsburgh', 'Likes coding']
3: ['fred', '84', 'Plattsburgh', 'Lives on Cumberland head']
4: ['amy', '46', 'Peru']
5: ['kevin', ' 21', ' Beekmantown']
{'ned': ['61', 'Plattsburgh', 'Likes coding'], 'fred': ['84', 'Plattsburgh', 'Lives on Cumberland head'], 'amy': ['46', 'Peru'], 'kevin': [' 21', ' Beekmantown']}

In [ ]:
# More "elegant" and handle junk data
file = open('data2.txt', 'r')

people = {}
line_number = 0
while line := file.readline():
    line_number += 1

    # Skip first line
    if line_number == 1:
        continue

    # Strip and separate into fields
    line = line.strip()
    fields = line.split(',')

    # Skip blank lines
    if len(line) < 1:
       continue

    # Need at least name, something
    if len(fields)<2:
        print(f"ERROR line {line_number}: {line}")
        continue;

    print(f'{line_number}: {fields}')
    people[fields[0]] = fields[1:]

print(people)

2: ['ned', '61', 'Plattsburgh', 'Likes coding']
3: ['fred', '84', 'Plattsburgh', 'Lives on Cumberland head']
ERROR line 4: abc
5: ['amy', '46', 'Peru']
7: ['kevin', ' 21', ' Beekmantown']
{'ned': ['61', 'Plattsburgh', 'Likes coding'], 'fred': ['84', 'Plattsburgh', 'Lives on Cumberland head'], 'amy': ['46', 'Peru'], 'kevin': [' 21', ' Beekmantown']}

In [ ]:
# What if I want to read two people files and combine them?
# More "elegant" and handle junk data
def read_people(filename):
    file = open(filename, 'r')
    people = {}
    line_number = 0
    while line := file.readline():
        line_number += 1

        # Skip first line
        if line_number == 1:
            continue

        # Strip and separate into fields
        line = line.strip()
        fields = line.split(',')

        # Skip blank lines
        if len(line) < 1:
            continue

        # Need at least name, something
        if len(fields)<2:
            print(f"ERROR line {line_number}: {line}")
            continue;

        # Strip each field
        for field in fields:
            field = field.strip()

        print(f'{line_number}: {fields}')
        people[fields[0]] = fields[1:]

    return people

In [ ]:
%%file data3.txt
Name,Age,Town, Other
ned,61,Plattsburgh,Likes coding
fred,84,Plattsburgh,Lives on Cumberland head
abc
amy,46,Peru

kevin, 21, Beekmantown

Overwriting data3.txt

In [ ]:
%%file data4.txt
Name,Age,Town, Other
ned2,61,Plattsburgh,Likes coding
fred2,84,Plattsburgh,Lives on Cumberland head
abc2
amy2,46,Peru or Somewhere

kevin2, 21, Beekmantown, Likes ice cream

Overwriting data4.txt

In [ ]:
def add_on_dictionaries(d1, d2):
    final_dict = {}
    for key in d1:
        final_dict[key] = d1[key]
    for key in d2:
        final_dict[key] = d2[key]

    return final_dict

def print_dict(d):
    for key in sorted(d):
        print(f'{key}: {d[key]}')

In [ ]:
people1 = read_people('data3.txt')
people2 = read_people('data4.txt')

print(people1)
print(people2)
print()

people = add_on_dictionaries(people1, people2)
print_dict(people)

2: ['ned', '61', 'Plattsburgh', 'Likes coding']
3: ['fred', '84', 'Plattsburgh', 'Lives on Cumberland head']
ERROR line 4: abc
5: ['amy', '46', 'Peru']
7: ['kevin', ' 21', ' Beekmantown']
2: ['ned2', '61', 'Plattsburgh', 'Likes coding']
3: ['fred2', '84', 'Plattsburgh', 'Lives on Cumberland head']
ERROR line 4: abc2
5: ['amy2', '46', 'Peru or Somewhere']
7: ['kevin2', ' 21', ' Beekmantown', ' Likes ice cream']
{'ned': ['61', 'Plattsburgh', 'Likes coding'], 'fred': ['84', 'Plattsburgh', 'Lives on Cumberland head'], 'amy': ['46', 'Peru'], 'kevin': [' 21', ' Beekmantown']}
{'ned2': ['61', 'Plattsburgh', 'Likes coding'], 'fred2': ['84', 'Plattsburgh', 'Lives on Cumberland head'], 'amy2': ['46', 'Peru or Somewhere'], 'kevin2': [' 21', ' Beekmantown', ' Likes ice cream']}

amy: ['46', 'Peru']
amy2: ['46', 'Peru or Somewhere']
fred: ['84', 'Plattsburgh', 'Lives on Cumberland head']
fred2: ['84', 'Plattsburgh', 'Lives on Cumberland head']
kevin: [' 21', ' Beekmantown']
kevin2: [' 21', ' Beekmantown', ' Likes ice cream']
ned: ['61', 'Plattsburgh', 'Likes coding']
ned2: ['61', 'Plattsburgh', 'Likes coding']

In [ ]:
# Put people in a file

file2 = open('output.txt', 'w')

file2.write("Name,Age,Town,Other\n");
for key in people:
    file2.write(f'{key} {people[key]}\n')

file2.close()

In [ ]:
# Put people in a file

file2 = open('output.txt', 'w')

file2.write("Name,Age,Town,Other\n");
for key in people:
    file2.write(f'{key}')
    for field in people[key]:
        file2.write(f',{field}')
    file2.write('\n')


file2.close()

In [ ]:
# Can we reimport??
p2 = read_people('output.txt')
print_dict(p2)

2: ['ned', '61', 'Plattsburgh', 'Likes coding']
3: ['fred', '84', 'Plattsburgh', 'Lives on Cumberland head']
4: ['amy', '46', 'Peru']
5: ['kevin', ' 21', ' Beekmantown']
6: ['ned2', '61', 'Plattsburgh', 'Likes coding']
7: ['fred2', '84', 'Plattsburgh', 'Lives on Cumberland head']
8: ['amy2', '46', 'Peru or Somewhere']
9: ['kevin2', ' 21', ' Beekmantown', ' Likes ice cream']
amy: ['46', 'Peru']
amy2: ['46', 'Peru or Somewhere']
fred: ['84', 'Plattsburgh', 'Lives on Cumberland head']
fred2: ['84', 'Plattsburgh', 'Lives on Cumberland head']
kevin: [' 21', ' Beekmantown']
kevin2: [' 21', ' Beekmantown', ' Likes ice cream']
ned: ['61', 'Plattsburgh', 'Likes coding']
ned2: ['61', 'Plattsburgh', 'Likes coding']