<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class09_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Class 9 2/26/2023
# What we did in class live!

In [ ]:
def do_the_thing(n=20):
    '''
    Prints all ints from 1 to n.
      The function will print ints from 1 to n
    '''
    print(f'Oh, you typed {n}')
    for i in range(n):
        printend = ', '
        if i == n - 1: printend = '\n'
        print(i+1, end=printend)

do_the_thing(-1)
do_the_thing(0)
do_the_thing(8)
do_the_thing()
do_the_thing(3,6)
help(do_the_thing)

#dir(do_the_thing)

Oh, you typed -1
Oh, you typed 0
Oh, you typed 8
1, 2, 3, 4, 5, 6, 7, 8
Oh, you typed 20
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20

TypeError: ignored

In [ ]:
# Use of continue
keep_going = True
while keep_going:
    n_str = input('Please give me a integer (999 to exit): ')

    try:
        n = int(n_str)

        if n == 999:
            keep_going = False
        elif n > 100:
            print('Too big!')
        else:
            do_the_thing(n)
    except:
        print(f"That's no int! Why did you type {n_str}?")

print('Thank you for playing!')

Please give me a integer (999 to exit): 13
Oh, you typed 13
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13
Please give me a integer (999 to exit): 2
Oh, you typed 2
1, 2
Please give me a integer (999 to exit): 123
Too big!
Please give me a integer (999 to exit): 57
Oh, you typed 57
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57
Please give me a integer (999 to exit): 999
Thank you for playing!

In [ ]:
# List Comprehensions
# Make a list of the cubes of all numbers 0 to 25
nums = []
for x in range(26):
    nums.append(x**3)

print(nums)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [ ]:
# Make a list of the cubes of all numbers 0 to 25 that are multiples of 7
nums = []
for x in range(26):
    if x % 7 == 0:
        nums.append(x**3)

print(nums)

[0, 343, 2744, 9261]

In [ ]:
nums = [x**3 for x in range(26)]
print(nums)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [ ]:
nums = [x**3 for x in range(26) if x % 7 == 0]
print(nums)

[0, 343, 2744, 9261]

In [ ]:
# How do i\I deal with putting in long strings
def func(x):
    longstr = '''lkjasdf asdlkjh asdlkjh asdkljh sad
kljasdfkljh asdklj sdkljh sadlkjh sadkljh asdlkjh sadflkjhasdf asdlkjh dahkljasd hk
khgasdgsdakjgsadfjkgsdaf jsg sdag sdagj sdagkjsda sdaj sdagjk ksdaj '''
    print(longstr)

func(123)

lkjasdf asdlkjh asdlkjh asdkljh sad
kljasdfkljh asdklj sdkljh sadlkjh sadkljh asdlkjh sadflkjhasdf asdlkjh dahkljasd hk
khgasdgsdakjgsadfjkgsdaf jsg sdag sdagj sdagkjsda sdaj sdagjk ksdaj

In [ ]:
# How do I deal with putting in long strings
def func(x):
    longstr = 'lkjasdf asdlkjh asdlkjh asdkljh sad\n'
    longstr += 'kljasdfkljh asdklj sdkljh sadlkjh sadkljh asdlkjh sadflkjhasdf asdlkjh dahkljasd hk\n'
    longstr += 'khgasdgsdakjgsadfjkgsdaf jsg sdag sdagj sdagkjsda sdaj sdagjk ksdaj'
    print(longstr)

func(123)

lkjasdf asdlkjh asdlkjh asdkljh sad
kljasdfkljh asdklj sdkljh sadlkjh sadkljh asdlkjh sadflkjhasdf asdlkjh dahkljasd hk
khgasdgsdakjgsadfjkgsdaf jsg sdag sdagj sdagkjsda sdaj sdagjk ksdaj

In [ ]:
# Argument!
def f(a, b):
    print(f' {a=} {b=}')

f(1,12)

 a=1 b=12

In [ ]:
# Named
f(b=13, a=6)

 a=6 b=13

In [ ]:
# Default argument!
def f(a, b=4):
    print(f' {a=} {b=}')

f(1,12)
f(6)
f(a=123)

x = f(5, 7)
print(x)

 a=1 b=12
 a=6 b=4
 a=123 b=4
 a=5 b=7
None

In [ ]:
# Default argument with return
def f(a, b=4):
    print(f' {a=} {b=}')
    return a + b

f(1,12)
f(6)
f(a=123)

x = f(5, 7)
print(x)

 a=1 b=12
 a=6 b=4
 a=123 b=4
 a=5 b=7
12

In [ ]:
# Default argument with multiple return
def f(a, b=4):
    print(f' {a=} {b=}')
    return a, b, a + b, a * b

f(1,12)
f(6)
f(a=123)

x = f(5, 7)
print(type(x))
print(x)

a1, a2, *a4 = f(31, 17)
print(a1)
print(a2)
print(a3)
print(a4)

 a=1 b=12
 a=6 b=4
 a=123 b=4
 a=5 b=7
<class 'tuple'>
(5, 7, 12, 35)
 a=31 b=17
31
17
48
[48, 527]

In [ ]:
# Variable Arguments
def f2(a, b, *args, **kwargs):
    print(f'{a=} {b=} {args=} {kwargs=}')


f2(1, 2)
f2(1, 2, 123, 'ned')
f2(1, 2, 123, 'ned',special1=100,special2='qwerty')

a=1 b=2 args=() kwargs={}
a=1 b=2 args=(123, 'ned') kwargs={}
a=1 b=2 args=(123, 'ned') kwargs={'special1': 100, 'special2': 'qwerty'}