<a href="https://colab.research.google.com/github/nleck001/CSC221/blob/main/Class07_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# Class 7: Dictionaries
# Live as done in class

In [35]:
# Dictionaries
cars = {
    'ford': 'red',
    'toyota' : 'green',
    'audi': ['blue', 2400, 31.6 ]
}

print(type(cars))
print(cars)

<class 'dict'>
{'ford': 'red', 'toyota': 'green', 'audi': ['blue', 2400, 31.6]}

In [36]:
try:
    # This should bomb- can't do this!
    print(cars[1])
except:
    print('I told you it would fail!')

I told you it would fail!

In [37]:
print(cars['ford'])
print(cars['audi'])

red
['blue', 2400, 31.6]

In [38]:
cars['hyundai'] = [12, 3, 'wert']
print(cars)

{'ford': 'red', 'toyota': 'green', 'audi': ['blue', 2400, 31.6], 'hyundai': [12, 3, 'wert']}

In [39]:
cars['ford'] = 20
print(cars)

{'ford': 20, 'toyota': 'green', 'audi': ['blue', 2400, 31.6], 'hyundai': [12, 3, 'wert']}

In [40]:
del cars['ford']
print(cars)

{'toyota': 'green', 'audi': ['blue', 2400, 31.6], 'hyundai': [12, 3, 'wert']}

In [41]:
# An aside: Sets!!
# Dictionaries with no values! Sets
people = {'ned', 'john', 'ankita'}
print(type(people))

<class 'set'>

In [42]:
people.add('jeff')
print(people)

{'jeff', 'ned', 'ankita', 'john'}

In [43]:
people.add('ned')
print(people)

{'jeff', 'ned', 'ankita', 'john'}

In [44]:
# So, what are you??
empty_dict = {}
print(type(empty_dict))
empty_set = set()
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [45]:
empty_dict['fred'] = 12345
print(empty_dict)

{'fred': 12345}

In [46]:
new_dict = empty_dict
print(new_dict)

{'fred': 12345}

In [47]:
empty_dict['fred'] = 'xyz'
print(empty_dict)
print(new_dict)

{'fred': 'xyz'}
{'fred': 'xyz'}

In [48]:
# Explore pointers!
d1 = {'k1': 'value1', 'k2': 'value2'}
d2 = {'k1': 'value1', 'k2': 'value2'}

print(d1)
print(d2)
print(d1 == d2)
print(d1 is d2)
d1['k3'] = 'test'
print(d1)
print(d2)
print(d1 == d2)
print(d1 is d2)

{'k1': 'value1', 'k2': 'value2'}
{'k1': 'value1', 'k2': 'value2'}
True
False
{'k1': 'value1', 'k2': 'value2', 'k3': 'test'}
{'k1': 'value1', 'k2': 'value2'}
False
False

In [49]:
d2 = d1
print(d1)
print(d2)
print(d1 == d2)
print(d1 is d2)

d1['k3'] = 'testing123'
print(d1)
print(d2)
print(d1 == d2)
print(d1 is d2)

{'k1': 'value1', 'k2': 'value2', 'k3': 'test'}
{'k1': 'value1', 'k2': 'value2', 'k3': 'test'}
True
True
{'k1': 'value1', 'k2': 'value2', 'k3': 'testing123'}
{'k1': 'value1', 'k2': 'value2', 'k3': 'testing123'}
True
True

In [50]:
dir()

['In',
 'Out',
 '_',
 '_23',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'cars',
 'd1',
 'd2',
 'empty_dict',
 'empty_set',
 'exit',
 'get_ipython',
 'item',
 'new_dict',
 'p1',
 'people',
 'person',
 'quit',
 'value']

In [51]:
p1 = d1.get('k11', 0)

print(p1)

0

In [52]:
# Looping

for person in 'nedlecky': #sorted(people):
    print(person)

n
e
d
l
e
c
k
y

In [53]:
for value in sorted(d1.values()):
    print(value)

testing123
value1
value2

In [54]:
for item in d1.items():
    print(item)

('k1', 'value1')
('k2', 'value2')
('k3', 'testing123')

In [55]:
print(cars)

{'toyota': 'green', 'audi': ['blue', 2400, 31.6], 'hyundai': [12, 3, 'wert']}

In [56]:
cars['toyota'] = {'color': 'blue', 'weight':5400, 'wheelbase':196}
cars['ford'] = {'color': 'red', 'weight':9400, 'wheelbase':123}

In [57]:
print(cars)

{'toyota': {'color': 'blue', 'weight': 5400, 'wheelbase': 196}, 'audi': ['blue', 2400, 31.6], 'hyundai': [12, 3, 'wert'], 'ford': {'color': 'red', 'weight': 9400, 'wheelbase': 123}}

In [58]:
print(cars['ford'])
print(cars['ford']['color'])

{'color': 'red', 'weight': 9400, 'wheelbase': 123}
red